# VIOLATION : 시간대별 평균값을 양산할 필요

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
violation_dir = 'data/violations'
violation_file = 'violations_merged_02.csv'
violation_path = os.path.join(violation_dir, violation_file)

violation = pd.read_csv(violation_path, encoding = 'cp949')

In [3]:
violation.head(3)

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,date,routeNo,direction,conzoneId,conzoneNm,laneNum,oTime,busLaneGubun,totalTF_1,violationTF_1,totalTF_HV,violationTF_HV,totalTF,violationTF,total_ViolationRate,HV_ViolationRate,time
0,0,0,0,20170730,450,E,0450CZE240,여주JC-남여주IC,1,07:00,전용,15,0,0,0,15,0,0.0,0.0,06-09
1,1,1,1,20170730,450,E,0450CZE240,여주JC-남여주IC,1,07:15,전용,7,0,0,0,7,0,0.0,0.0,06-09
2,2,2,2,20170730,450,E,0450CZE240,여주JC-남여주IC,1,07:30,전용,9,0,4,0,13,0,0.0,0.0,06-09

In [10]:
pv = pd.pivot_table(
    violation,
    index = ['date', 'routeNo', 'direction', 'conzoneId', 'conzoneNm', 'busLaneGubun', 'time'],
    aggfunc = 'sum'
)

pv = pv.reset_index().drop(['Unnamed: 0', 'Unnamed: 0.1', 'Unnamed: 0.1.1', 'laneNum', 'total_ViolationRate', 'HV_ViolationRate'], axis = 'columns')

pv.head(3)

,date,routeNo,direction,conzoneId,conzoneNm,busLaneGubun,time,totalTF,totalTF_1,totalTF_HV,violationTF,violationTF_1,violationTF_HV
0,20170730,450,E,0450CZE240,여주JC-남여주IC,전용,06-09,496,394,102,0,0,0
1,20170730,450,E,0450CZE240,여주JC-남여주IC,전용,09-12,1596,1406,190,0,0,0
2,20170730,450,E,0450CZE240,여주JC-남여주IC,전용,12-15,2101,1928,173,0,0,0

In [21]:
pv['total_ViolationRate'] = pv['violationTF']/pv['totalTF']
pv['HV_ViolationRate'] = pv['violationTF_HV']/pv['totalTF_HV']

pv = pv.fillna(0)

In [22]:
save_file = 'violations_merged_03.csv'
save_path = os.path.join(violation_dir, save_file)

In [23]:
pv.to_csv(save_path, encoding = 'cp949')